https://www.geeksforgeeks.org/generating-word-cloud-python/
https://towardsdatascience.com/how-to-create-beautiful-word-clouds-in-python-cfcf85141214
https://github.com/nltk/nltk/wiki/FAQ

In [76]:
import pandas as pd
#df_ufo = pd.read_csv('C:\\Users\\seanm\\Proton Drive\\sean.malley1\\Other computers\\EXACTLY5CATS\\d10\\Projects\\bigfeet\\data\\nuforc_reports.csv')
#_fire = pd.read_csv('C:\\Users\\seanm\\Proton Drive\\sean.malley1\\Other computers\\EXACTLY5CATS\\d10\\Projects\\bigfeet\\data\\fire_dd.csv')

df_big = pd.read_csv('F:\\d10\\Projects\\bigfoots-ufos-ghosts-oh-my\\data\\bfro_reports_geocoded.csv')
df_ufo = pd.read_csv('F:\\d10\\Projects\\bigfoots-ufos-ghosts-oh-my\\data\\nuforc_reports.csv')

In [22]:
df_fire.head()

,Date/Time - Peak Brightness (UT),latitude,longitude,Altitude (km),Velocity (km/s),Velocity Components (km/s): vx,Velocity Components (km/s): vy,Velocity Components (km/s): vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,11/21/2009 20:53,-22.0,29.2,38.0,32.1,3.0,-17.0,-27.0,1.000000e+13,18.00
1,1/9/2015 10:41,2.0,28.8,36.0,NaN,-10.7,-7.6,11.6,1.390000e+11,0.41
2,5/16/2014 12:42,-44.2,-176.2,44.0,NaN,14.4,4.6,6.5,3.090000e+11,0.82
3,8/23/2014 6:29,-61.7,132.6,22.2,16.2,-2.3,5.7,16.5,3.820000e+12,7.60
4,12/12/2014 6:48,33.5,144.9,26.3,NaN,11.5,-2.8,-2.2,3.300000e+10,0.11

In [19]:
# df_fire['latitude'] = df_fire['latitude'].apply(lambda x: float(str(x)[:-1]) if str(x)[-1] in ['N', 'S'] else float(str(x)))
# df_fire['longitude'] = df_fire['longitude'].apply(lambda x: float(str(x)[:-1]) if str(x)[-1] in ['E', 'W'] else float(str(x)))

In [ ]:
df_ufo['latitude'] = df_ufo['city_latitude']
df_ufo['longitude'] = df_ufo['city_longitude']
df_ufo.drop(columns=['city_latitude', 'city_longitude'], inplace=True)
df_ufo.dropna(subset=['summary'], inplace=True)
df_ufo.dropna(subset=['latitude'], inplace=True)
df_ufo.dropna(subset=['longitude'], inplace=True)
df_ufo.dropna(subset=['shape'], inplace=True)
df_ufo.head()

In [23]:



df_fire.dropna(subset=['latitude'], inplace=True)
df_fire.dropna(subset=['longitude'], inplace=True)

df_fire.head()

,Date/Time - Peak Brightness (UT),latitude,longitude,Altitude (km),Velocity (km/s),Velocity Components (km/s): vx,Velocity Components (km/s): vy,Velocity Components (km/s): vz,Total Radiated Energy (J),Calculated Total Impact Energy (kt)
0,11/21/2009 20:53,-22.0,29.2,38.0,32.1,3.0,-17.0,-27.0,1.000000e+13,18.00
1,1/9/2015 10:41,2.0,28.8,36.0,NaN,-10.7,-7.6,11.6,1.390000e+11,0.41
2,5/16/2014 12:42,-44.2,-176.2,44.0,NaN,14.4,4.6,6.5,3.090000e+11,0.82
3,8/23/2014 6:29,-61.7,132.6,22.2,16.2,-2.3,5.7,16.5,3.820000e+12,7.60
4,12/12/2014 6:48,33.5,144.9,26.3,NaN,11.5,-2.8,-2.2,3.300000e+10,0.11

In [10]:
df_fire.head()

NameError: name 'df_fire' is not defined

In [7]:
import folium

In [ ]:
df_fire.head()

In [25]:
# df_fire = df.dropna(subset=['latitude', 'longitude'])
# 200 points at first because computer froze last time 
num_rows = min(5000, len(df_fire))


if not df_fire.empty:
    first_point = df_fire.iloc[0]
    m = folium.Map(location=[first_point['latitude'], first_point['longitude']], zoom_start=5)

    # 1st 200 rows to be marked
    for index, row in df_fire.iloc[:num_rows].iterrows():
        folium.Marker(location=[row['

In [ ]:
# df_ufo = df.dropna(subset=['latitude', 'longitude'])
# 200 points at first because computer froze last time 
num_rows = min(500, len(df_ufo))


if not df_ufo.empty:
    first_point = df_ufo.iloc[0]
    m = folium.Map(location=[first_point['latitude'], first_point['longitude']], zoom_start=5)

    # 1st 200 rows to be marked
    for index, row in df_ufo.iloc[:num_rows].iterrows():
        folium.Marker(location=[row['latitude'], row['longitude']]).add_to(m)

  

    
    display(m)
else:
    print("you messed up, buddy.")

In [19]:
def clean_data(df):
    
    # df = df[df['state'] == "Maine"]
    
    df = df.groupby(['state']).agg(state_count=('state', 'count')).reset_index()
    return df

df_clean = clean_data(df.copy())
df_clean.head(55)

def clean_data(df_clean):
    
    df_clean = df_clean.sort_values(['state_count'], ascending=[False])
    return df_clean

df_clean_1 = clean_data(df_clean.copy())
# df_clean_1.head(55)

df_clean.head()

        state  state_count
0     Alabama            1
1      Alaska            1
2     Arizona            2
3    Arkansas            1
4  California            3

In [78]:
state_city_data = df_ufo.groupby(['state', 'city']).size()


print(state_city_data)

state             city
\nMA              Sturbridge                          1
AB                Aidrie                              1
                  Airdrie                            18
                  Albert                              1
                  Alberta                             8
                                                     ..
YT                Yukon Territory                     3
YUCATÁN           Merida                              1
                  Tulum                               1
ZAJECAR DISTRICT  road 35 between Zajecar-Negotin     1
ÖREBRO COUNTY     Örebro                              1
Length: 25556, dtype: int64

In [79]:
def clean_data(state_city_data_df):
    
    state_city_data_df = state_city_data_df.sort_values([0], ascending=[False])
    return state_city_data_df


state_city_data_df = state_city_data.to_frame()

state_city_data_df_clean = clean_data(state_city_data_df.copy())
state_city_data_df_clean.head()

                   0
state city
NY    New York   868
AZ    Phoenix    781
WA    Seattle    780
NV    Las Vegas  658
OR    Portland   586

In [77]:
grouped_data = df_ufo.groupby(['state', 'shape']).size().reset_index(name='count')


sorted_data = grouped_data.sort_values(['state', 'count'], ascending=[True, False])


def top_n_per_group(df, n=5):
    return df.groupby('state').head(n)

top_shapes_per_state = top_n_per_group(sorted_data)


print(top_shapes_per_state)

                 state     shape  count
0                 \nMA     cross      1
14                  AB     light    151
20                  AB  triangle     76
4                   AB    circle     58
21                  AB   unknown     58
...                ...       ...    ...
1681                YT     other      3
1686           YUCATÁN      disk      1
1687           YUCATÁN      star      1
1688  ZAJECAR DISTRICT    circle      1
1689     ÖREBRO COUNTY   unknown      1

[659 rows x 3 columns]

In [ ]:
grouped_data = df_ufo.groupby(['state', 'shape']).size().reset_index(name='count')


sorted_data = grouped_data.sort_values(['state', 'count'], ascending=[True, False])


most_common_shape_per_state = sorted_data.groupby('state').head(1)


print(most_common_shape_per_state)

In [ ]:
us_states = [
    'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 
    'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 
    'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 
    'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 
    'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'
]


filtered_data = df_ufo[df_ufo['state'].isin(us_states)]


grouped_data = filtered_data.groupby(['state', 'shape']).size().reset_index(name='count')


sorted_data = grouped_data.sort_values(['state', 'count'], ascending=[True, False])


most_common_shape_per_state = sorted_data.groupby('state').head(3)


print(most_common_shape_per_state)

In [ ]:
us_states = [
    'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 
    'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 
    'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 
    'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 
    'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'
]


filtered_data = df_ufo[(df_ufo['state'].isin(us_states)) & (df_ufo['shape'] != 'light')]


grouped_data = filtered_data.groupby(['state', 'shape']).size().reset_index(name='count')


sorted_data = grouped_data.sort_values(['state', 'count'], ascending=[True, False])


most_common_shape_per_state = sorted_data.groupby('state').head(2)


print(most_common_shape_per_state)

In [ ]:
!pip install Basemap

,state,state_abbrev,location,longitude,latitude,date,description,location_2
0,Canada,Canada,Alberta,-116.576504,53.933271,NaN,About three years ago i encountered what I cou...,POINT(-116.5765035 53.9332706)
1,Canada,Canada,Deadwood Alberta,-117.458219,56.740963,NaN,I came across another report of a bipedal cani...,POINT(-117.458219 56.740963)
2,Canada,Canada,Deadwood Alberta,-117.458219,56.740963,NaN,I received a report about an unusual wolf/wolf...,POINT(-117.458219 56.740963)
3,Canada,Canada,Deadwood Alberta,-117.458219,56.740963,NaN,In this report a husband and wife were out cro...,POINT(-117.458219 56.740963)
4,Canada,Canada,Gillam Manitoba,-94.774844,56.333410,NaN,I saw something that put a big scare into me. ...,POINT(-94.7748443 56.33341)

In [ ]:

import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap


state_coords = {
    'AL': (32.806671, -86.791130), 'AK': (61.370716, -152.404419), 'AZ': (33.729759, -111.431221),
    'AR': (34.969704, -92.373123), 'CA': (36.116203, -119.681564), 'CO': (39.059811, -105.311104),
    'CT': (41.597782, -72.755371), 'DE': (39.318523, -75.507141), 'FL': (27.766279, -81.686783),
    'GA': (33.040619, -83.643074), 'HI': (21.094318, -157.498337), 'ID': (44.240459, -114.478828),
    'IL': (40.349457, -88.986137), 'IN': (39.849426, -86.258278), 'IA': (42.011539, -93.210526),
    'KS': (38.526600, -96.726486), 'KY': (37.668140, -84.670067), 'LA': (31.169546, -91.867805),
    'ME': (44.693947, -69.381927), 'MD': (39.063946, -76.802101), 'MA': (42.230171, -71.530106),
    'MI': (43.326618, -84.536095), 'MN': (45.694454, -93.900192), 'MS': (32.741646, -89.678696),
    'MO': (38.456085, -92.288368), 'MT': (46.921925, -110.454353), 'NE': (41.125370, -98.268082),
    'NV': (38.313515, -117.055374), 'NH': (43.452492, -71.563896), 'NJ': (40.298904, -74.521011),
    'NM': (34.840515, -106.248482), 'NY': (42.165726, -74.948051), 'NC': (35.630066, -79.806419),
    'ND': (47.528912, -99.784012), 'OH': (40.388783, -82.764915), 'OK': (35.565342, -96.928917),
    'OR': (44.572021, -122.070938), 'PA': (40.590752, -77.209755), 'RI': (41.680893, -71.511780),
    'SC': (33.856892, -80.945007), 'AK': (64.200841, -149.493673), 'SD': (44.299782, -99.438828),
    'TN': (35.747845, -86.692345), 'TX': (31.054487, -97.563461), 'UT': (40.150032, -111.862434),
    'VT': (44.045876, -72.710686), 'VA': (37.769337, -78.169968), 'WA': (47.400902, -121.490494),
    'WV': (38.491226, -80.954455), 'WI': (44.268543, -89.616508), 'WY': (42.755966, -107.302490)
}

shape_to_symbol = {
    'circle': 'o',  
    'triangle': '^',  
    'sphere': 'o',  
    
}


plt.figure(figsize=(14, 8))
m = Basemap(llcrnrlon=-130, llcrnrlat=20, urcrnrlon=-65, urcrnrlat=50, projection='lcc', lat_1=33, lat_2=45, lon_0=-95)


m.drawcoastlines()
m.drawcountries()
m.drawstates()


for index, row in most_common_shape_per_state.iterrows():
    state = row['state']
    shape = row['shape']
    if state in state_coords:
        lat, lon = state_coords[state]
        x, y = m(lon, lat)
        symbol = shape_to_symbol.get(shape, 'x')
        m.plot(x, y, symbol, markersize=10, label=shape if index == 0 else "", color='red')

plt.legend(loc='lower left', bbox_to_anchor=(1, 0))
plt.show()